<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D757510709B5627B8CF460EB817F5F83A5FBC0E1</string>
				<key>dateExpires</key>
				<string>2020/9/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D757510709B5627B8CF460EB817F5F83A5FBC0E1</string>
						<key>dateExpires</key>
						<string>2020/9/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94QX9KJRPY</string>
						<key>name</key>
						<string>Yuan Hu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>67C5219DDC039491EE28BD55F9C03F7A19218C5E</string>
						<key>dateExpires</key>
						<string>2024/8/13</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>94QX9KJRPY</string>
						<key>name</key>
						<string>Yuan Hu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>94QX9KJRPY.ren.lifting.gymate</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>94QX9KJRPY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>94QX9KJRPY.ren.lifting.gymate</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3f8d1221-ef27-42e2-ab62-8614f5e4e8b4</string>
				<key>name</key>
				<string>iosDevelopmentProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>94QX9KJRPY</string>
				<key>name</key>
				<string>Yuan Hu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
